<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center bg bg-info">
<h1>ABOUT THE WEBSITE</h1>
<p>This website has been created by Abhay Gangwar who is currently working in Jio.
It was developed out of a hobby to learn web development using python.
I hope you will appreciate the effort.</p>
<a href="{% url 'home' %}" class="btn btn-info">HOME</a>
</div>